body {
  /* The image used */
  background-image: url("images/gray.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nav-bar {
    position: sticky;
    padding-top: 80px;
}

.navbar {
    background-color: #0d6efd;
}

.second-col {
    padding-top: 150px;
    margin-right: 150px;
}

.btn-primary {
    margin-top: 10px;
}