 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>SYMPTOMATICS</title>
</head>
<body>
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">

            <div class="logo-container">
                <h3 class="logo">SYMPTOM<span>atics</span></h3>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="{{url_for('profile')}}">Home</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">AboutUs<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Services</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Partners</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Why Choose Us?</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Client Testimonials</a>
                                    </li>

                                </ul>
                            </div>
                        </li>



                        <li class="nav-link" style="--i: 1.35s">
                            <a href="contactus.html">Contact</a>
                        </li>

						<li class="nav-link" style="--i: 1.35s">
                            <a href="{{ url_for('logout') }}">SIGN OUT</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>


    </header>

	<section class="section1" id="section1">
        <div class="main">
			<div class="card">
				<div class="left">
						<img src="{{ path }}"><br><br>
						<h1>name: {{user}}</h1><br>
						<h1>specialization: {{specialization}}</h1><br>

				</div>
				<div class="right">
						<a href="#" class="btn btn-white btn-animate">view consultancy</a><br><br><br><br><br>
						<a href="#" class="btn btn-white btn-animate">give feedback   </a>

				</div>
			</div>
        </div>
    </section>


	</body>