 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <title>SYMPTOMATICS</title>
</head>
<body>
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">
            
            <div class="logo-container">
                <h3 class="logo">SYMPTOM<span>atics</span></h3>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">AboutUs<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Services</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Partners</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Why Choose Us?</a>            
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Client Testimonials</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>
						<li class="nav-link" style="--i: .85s">
                            <a href="#">Signin<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="signin.html">ADMIN</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="{{url_for('patientSignIn')}}">PATIENT</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="{{url_for('doctorSignIn')}}">DOCTOR</a>
                                    </li>
                                               
                                </ul>
                            </div>
                        </li><li class="nav-link" style="--i: .85s">
                            <a href="#">Signup<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="{{url_for('patientSignUp')}}">PATIENT</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="{{url_for('doctorSignUp')}}">DOCTOR</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                       
                       
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">Contact</a>
                        </li>
                       
                    </ul>
                </div>                
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
		
		
    </header>
	
	<section class="section1" id="section1">
        <div class="main">
			<div class="base">
				<h1>REGISTRATION FORM</h1><br>
                <h6>{{msg}}</h6><br>
				<form action="{{ url_for('patientSignUp') }}" method="post" enctype="multipart/form-data">
                    <div class="msg">{{msg}}</div>
			<label for="username">Username</label><br>
			<input type="text" id="username" name="username" value=""><br>
			<label for="age">AGE</label><br>
			<input type="text" id="age" name="age" value=""><br>
			<label for="male">GENDER</label><br>
			<input type="radio" id="male" name="gender" value="male">
			<label for="female">Male</label>
			<input type="radio" id="female" name="gender" value="female">
			<label for="other">Female</label>
			<input type="radio" id="other" name="gender" value="other">
			<label for="other">Other</label><br>
            <label for="city">City</label><br>
			<input type="text" id="city" name="city"><br>
			<label for="email">EMAIL</label><br>
			<input type="email" id="email" name="email"><br>
			<label for="password">PASSWORD</label><br>
			<input type="password" id="password" name="password" value=""><br>
			<label for="img">UPLOAD IMAGE</label><br>
  <input type="file" id="img" name="file" accept="image/*"><br>
			
			<input type="submit" value="Submit">
</form>
			</div>
        </div>
    </section>
    
	
	</body>